* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* background-color: gray; */
}
input {
  outline: none;
}

#search {
  outline: none;
  border: none;
  width: 450px;
}

/* .searchbox {
  text-align: center;
  width: fit-content;
  height: 45px;
  margin: auto;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid lightgray;
  width: fit-content;
  border-radius: 25px;
}
form:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
}
.language {
  margin-top: 10px;
}
.country {
  display: flex;
  justify-content: start;
  padding-left: 10px;
}
.merkez {
  margin-top: 150px;
  align-items: center;
  margin-bottom: 60px;
}
.menu-sag img {
  vertical-align: middle;
  opacity: 0.3;
}
/* .menu-sag {
  float: right;
} */
.menu-sol {
  display: flex;
  align-items: center;
}
.menu-sag button {
  width: 70px;
  height: 30px;
  background-color: #4285f4;
  border-radius: 2px;
  border: none;
  color: white;
  font-weight: bold;
}
.menu-sag button:hover {
  cursor: pointer;
}
.buttons button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  border: none;
}
.buttons button:hover {
  cursor: pointer;
}
